<div id="chat-container">
    <ul id="chat-messages">
        <!-- Mensajes del chat se agregarán aquí -->
    </ul>
    <div id="input-container">
        <input type="text" id="username-input" placeholder="Nombre de usuario">
        <input type="text" id="message-input" placeholder="Escribe un mensaje...">
        <button id="send-button">Enviar</button>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chatLog.js"></script>